/**
 * Variables For Retrocity
 */

// Colors
$hs_red: #ec1946;
$hs_main_red: #ec0044;
$hs_dark_red: #b90035;
$hs_purple: #696e9f;
$hs_text: #666;
$hs_light_grey: #efefef;
$white: #FFF;
$black: #000;

// Fonts
$main_font: 'Avenir', sans-serif;
$header_font: 'Avenir', sans-serif;

// Bootstrap Overwrite
$primary: $hs_main_red;
$font-family-sans-serif: $main_font;
$headings-font-family: $header_font;

$body-bg: $hs_red;
