/**
 * Responsive Styles
 */

// Xtra-Small and up
@include media-breakpoint-up(xs) {

}

// Small and up
@include media-breakpoint-up(sm) {
}

// Medium and up
@include media-breakpoint-up(md) {
	.index-post-area {
		display: flex;
	    margin-bottom: 1em;
	}
	
	.entry-internal-thumbnail {
		height: 300px;
	}

	.content-banner {
		height: 550px;
	}

	.logo-container {
		text-align: left;
	}

	header {
		
		.main-navigation {
			margin-bottom: 0;

			.menu-toggle {
				display: none;
			}

			.menu-main-menu-container {
				display: block;
			}

			ul.menu {
				padding: 0;
				display: flex;
				justify-content: space-between;

				li {
					display: inline-block;

					a {
						padding: 1.2em 1em;
					}

					&.current-menu-item {
						ul {
							position: absolute;
							left: -9999px;
							top: 100%;
							padding: 0;
							width: 200px;
							li {
								a {
									background: none !important;
									cursor: pointer;
									color: #FFF;
								}
							}
						}
	
						&:hover {
							ul {
								left: inherit;
								right: 0;
							}	
						}
					}

					ul {
						position: absolute;
						left: -9999px;
						top: 100%;
						padding: 0;
						width: 200px;
					}

					&:hover {
						ul {
							left: inherit;
							right: 0;
						}	
					}
				}
			}

		}
	}

	.index-post-area {
		display: flex;
		.post {
			flex: 50%;
		}
	}
}

// Large and up
@include media-breakpoint-up(lg) {
	
	header {
		.main-navigation {
			ul.menu {
				justify-content: flex-end;
			}
		}
		
		.header-top {
			text-align: right;
			display: block;
		}
	}

}