/**
 * Custom Styles
 */

// Basic Areas

header {
    
    .logo-container {
        padding: 1em 0;

        img {
            max-width: 250px;
        }
    }

    .main-navigation {
        ul.menu {
            justify-content: flex-end;

            li {
                a {
                    padding: 1.2em 1em;
                    font-family: $header_font;
                    color: $white;
                    font-size: 1rem;
                    
                    &:hover {
                        color: $retro_pink;
                    }
                }
                &.current-menu-item {
                    a {
                        background-color: $retro_pink;
                        color: $black;
                        cursor: default;    
                    }
                }
            }
        }
    }
}

.site-main {
    color: $white;
    a {
        color: $retro_blue;
        text-decoration: none;

        &:hover {
            color: $retro_blue;
            text-decoration: underline;
        }
    }
}

h1.page-title {
    color: $retro_blue;
    font-family: $main_font;
    text-align: center;
    margin-bottom: 1em;
}

.entry-title {
    font-family: $main_font;
    text-align: center;
    color: $retro_blue;
}
.post-entry-date {
    font-style: italic;
    font-size: 0.9em;
    text-align: center;
    display: block;
}

.post-body {
    padding: 1em 0;
    font-size: 1.2rem;
}

.entry-internal-thumbnail {
    height: 350px;
    background-size: center;
    background-position: center center;
    border-bottom: 5px solid $retro_blue;
    margin-bottom: 1em;
}

.content-banner {
    height: 280px;
    background-position: center center;
    background-size: cover;
}

.logo-container {
    text-align: center;
}

header {
    .main-navigation {
        margin-bottom: 1em;

        .menu-toggle {
            background-color: $retro_pink;
            font-family: $header_font;
            color: $white;
            padding: 0.8em;
            font-size: 0.9rem;
            border: 0;
            border-bottom: 3px solid darken($retro_pink, 15%);
        }

        .menu-main-menu-container {
            display: none;
        }

        &.active {
            .menu-main-menu-container {
                display: block;
            }
        }
    
        ul.menu {
            display: block;
            padding: 0 1em;
    
            li {
                display: block;
                
                a {
                    padding: 0.5em;
                }
            }
        }
    }
}


.index-post-area {
    display: flex;
    margin-bottom: 1em;

    .post {
        .post-body-content {
            padding: 1em;
        }

        .post-entry-date {
            font-size: 0.9rem;
            font-style: italic;
            text-align: left;
        }

        .entry-link {
            margin-top: 0.8em;
        }

        .entry-content {
            margin-top: 1em;
        }

        .entry-image {
            height: 220px;
            width: 100%;
            background-size: cover;
            background-position: center center;
            margin-bottom: 1.2em;
            border: 0;
        }

        .entry-title {
            margin-bottom: 0;
        }

        &:nth-child(odd) {
            .entry-title {
                a {
                    color: $retro_pink;
                    &:hover {
                        color: lighten($retro_pink, 10%);
                        text-decoration: none;
                    }
                }
            }
        }
        &:nth-child(even) {
            .entry-title {
                a {
                    color: $retro_lit_blue;
                    &:hover {
                        color: darken($retro_lit_blue, 10%);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

footer {
    padding: 2em 0 6em 0;
    color: $white;
    text-align: center;

    .menu-footer-menu-container, .menu {
        display: inline;
    }

    .footer-nav {
        ul {
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
                padding: 0 0.5em;

                a {
                    color: $retro_pink;
                    text-decoration: none;
                    &:hover {
                        color: $retro_pink;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}