.site-header {
	background-color: $color_header;
	padding: 0px 1em;
}

.social-header {
	background-color: $color_main;
	color: $color_white_back;
	
	ul {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: flex-end;
		margin: 0;
		padding: 0 1em;

		li:not(:first-child) {
			border-left: 1px solid $color_white_back;
		}

		li {
			display: inline-block;

			a {
				color: $color_white_back;
				text-decoration: none;
				padding: 0.6em 0.4em;
				font-size: 0.9em;

				&:hover {
					background-color: darken($color_main, 10%);
				}
			}
		}
	}
}

.site-branding {
	max-width: 400px;
	margin: auto;
	display: grid;
}

.logo-container {
	align-items: center;
	text-align: center;
	padding: 0.8em 2em;
}

@media screen and (min-width: $query__medium) {

	.logo-container {
		padding: 2.5em 1em 0.5em 1em;
	}
}


/*
Header Menu
*/
@import "header-menu";
