@charset "UTF-8";@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Avenir-Regular.eot');
    src: url('../fonts/Avenir-Regular.eot?#iefix') format("embedded-opentype"),url('../fonts/Avenir-Regular.woff') format("woff"),url('../fonts/Avenir-Regular.ttf') format("truetype"),url('../fonts/Avenir-Regular.svg#Avenir') format("svg")
}

@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Avenir-Regular.eot');
    src: url('../fonts/Avenir-Regular.eot?#iefix') format("embedded-opentype"),url('../fonts/Avenir-Regular.woff') format("woff"),url('../fonts/Avenir-Regular.ttf') format("truetype"),url('../fonts/Avenir-Regular.svg#Avenir') format("svg")
}

@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Avenir-Bold.eot');
    src: url('../fonts/Avenir-Bold.eot?#iefix') format("embedded-opentype"),url('../fonts/Avenir-Bold.woff') format("woff"),url('../fonts/Avenir-Bold.ttf') format("truetype"),url('../fonts/Avenir-Bold.svg#Avenir') format("svg")
}

@font-face {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Avenir-Bold.eot');
    src: url('../fonts/Avenir-Bold.eot?#iefix') format("embedded-opentype"),url('../fonts/Avenir-Bold.woff') format("woff"),url('../fonts/Avenir-Bold.ttf') format("truetype"),url('../fonts/Avenir-Bold.svg#Avenir') format("svg")
}

@font-face {
    font-family: Avenir;
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Avenir-Italic.eot');
    src: url('../fonts/Avenir-Italic.eot?#iefix') format("embedded-opentype"),url('../fonts/Avenir-Italic.woff') format("woff"),url('../fonts/Avenir-Italic.ttf') format("truetype"),url('../fonts/Avenir-Italic.svg#Avenir') format("svg")
}