.content-banner {
    height: 350px;
    background-size: cover;
    padding: 1em 3em;
    background-color: $color_grey_section;
    background-position: center 10%;
}
@media screen and (min-width: $query__medium) {
    .content-banner {
        height: 450px;    
    }
}