.sticky {
	display: block;
}

.extra {
	display: none;
}

.site-main {
	min-height: 100px;
	background-color: $color_white_back;
}

.section {
	padding: 1em;
}

.index-post-area {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "post";

	.post {
		display: grid;
		grid-area: post;
		grid-template-columns: 3em 1fr;
		grid-template-areas: "postlink postcontent";
		grid-gap: 1em;
		margin: 2em 0;

		.post-link-icon {
			grid-area: postlink;
			text-align: center;
			
			a {
				background-color: $color_main;
				color: #FFF;
				padding: 0.5em 0.8em;
				display: inline-block;
				font-size: 1.2em;

				&:hover {
					background-color: darken($color_main, 10%);
				}
			}
		}

		.post-body-content {
			grid-area: postcontent;
			padding-left: 1.5em;
		}

	}

}

.cat-links {
	margin-bottom: .5em;
	font-family: $font__meta;
	font-size: 80%;

	a {
		text-decoration: none;
		text-transform: uppercase;
		border-bottom: 3px solid transparent;

		&:focus,
		&:hover {
			border-bottom-color: black;
		}
	}
}

.entry-title {
	margin: 0;
	font-size: 1.8em;
	text-align: left;

	a {
		text-decoration: none;
		color: $color_body_text;
		transition: color ease-in-out 0.15s;

		&:focus,
		&:hover {
			color: $color_main;
		}
	}
}

.entry-link {
	padding-top: 1em;
	text-align: right;

	a {
		color: $color_main;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

.entry-content {
	padding-top: 1em;
	font-size: 0.8em;
}

.byline {
	&::after {
		content: "|";
		margin: 0 .5em;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

@media screen and (min-width: $query__medium){
	.index-post-area {
		grid-template-columns: 1fr 1fr;
		grid-gap: 0.5em;
		grid-template-areas: "post post";
	}
}
